body{
    color: blueviolet;
    font-family: verdana, Arial, sans-serif;
    font-size: 16;
}
h1,h2 {
    background-color: aquamarine;
    color: darkblue;
    font-family: monospace;
    font-size: 25;
}

.test_text {
    color:darkgreen;
}
#last {
    color: darkgoldenrod;
}

a{
    color: darkcyan;
    text-decoration: none;
}
