body{
    color: blueviolet;
    font-family: arial, sans-serif;
    font-size: 16;
}
h1,h2,h3 {
    
    color: darkblue;
    font-family: monospace;
    font-size: 25;
}

.test_text {
    color:darkgreen;
}
#last {
    color: darkgoldenrod;
}

a{
    color: darkcyan;
    text-decoration: none;
}
#divBox {
    height: 1300px;
    width: 800px;
    background-color: #ee3e80;
    border-style: solid;
    border-width: thick;
    border-color: #0088dd;
    border-radius: 10px;
    box-shadow: 20px 20px 20px #333333;
}
#divBox2 {
    height: 900px;
    width: 800px;
    background-color: #ee3e80;
    border-style: solid;
    border-width: thick;
    border-color: #0088dd;
    border-radius: 10px;
    box-shadow: 20px 20px 20px #333333;
}
#divBox3 {
    height: 1130px;
    width: 800px;
    background-color: #ee3e80;
    border-style: solid;
    border-width: thick;
    border-color: #0088dd;
    border-radius: 10px;
    box-shadow: 20px 20px 20px #333333;
}
p{
    color: black
    
}
.pClass{
    width: 60%;
    background-color: #e1ddda;
    border-width: thick;
    border-style: solid;
    border-color: darkblue;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
    text-align: center;
}
ul{
    list-style-type: square;
    list-style-position: outside;
}

table {
    width: 300px;
    empty-cells: show;
    border-spacing: 5px 10px;
    border-collapse: separate;
}

td, th {
    padding: 5px;
    border: 1px solid #0088dd;
}

th {
    text-transform: uppercase;
    text-align: left;
    border-top: 1px solid #999;
    border-bottom: 2px solid #111111;
    background-color: #efefef
}

tr.even {
    background-color: #efefef;
}

tr:hover {
    background-color: aquamarine;
}


img.large {
    width: 500px;
    float: left;
    margin-right: 10px;
}

img.medium{
    width: 250px;
}

img.small{
    width: 100px;
}

